@import "compass/reset";
@import "compass/css3";

@import "global/*.png";
@include all-global-sprites;

/*
@-webkit-keyframes bganim1 {
  0%   { -webkit-transform:translate(0, 0); transform:translate(0, 0); }
  100% { -webkit-transform:translate(10px, 20px); transform:translate(10px, 20px); }
}
@-webkit-keyframes bganim2 {
  0%   { -webkit-transform:translate(0, 0); }
  100% { -webkit-transform:translate(-10px, -20px); }
}
@-webkit-keyframes bganim3 {
  0%   { -webkit-transform:translate(0, 0); }
  100% { -webkit-transform:translate(-10px, 20px); }
}

@mixin shake($anim) {
    -webkit-animation-name: $anim;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    
    animation-name: $anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
*/
@mixin underline($color, $offset) {
    position:relative;
    &:after { content:" "; height:1px; background:$color; @include rotate(-1deg, 0, 0); position:absolute; left:0; bottom:$offset; width:100%; }
}
@mixin overline($color, $offset:0) {
    position:relative;
    &:before { content:" "; height:1px; background:$color; @include rotate(-1deg, 0, 0); position:absolute; left:0; top:$offset; width:100%; }
}

* { box-sizing:border-box; -moz-box-sizing:border-box; }
body { font-family:Arial; font-size:16px; line-height:20px; @include background-image(linear-gradient(left,white , black 50%, white)); }
h1 { font-size:20px; line-height:25px; margin:10px 0 40px; font-weight:bold; @include underline(black, -5px); }
p { margin:10px 0 20px; }
a { outline:none; color:black; }
.floatLeft { float:left; margin-right:20px; }
.clear { clear:both; height:0; line-height:0; }
.website { width:1000px; margin:40px auto; background:white; position:relative;
    &:before { content:" "; position:absolute; left:0; top:-10px; height:20px; width:100%; background:white; @include skew(0, -1deg) }
    &:after { content:" "; position:absolute; left:0; bottom:-10px; height:20px; width:100%; background:white; @include skew(0, -1deg) }
    header { padding:20px;
        .global-logo { display:inline-block; width:348px; height:96px; }
        @include underline(black, 10px);
        .mainnavi { position:absolute; right:20px; bottom:20px;
            a { display:inline-block; padding:7px 10px; font-size:20px; text-decoration:none; position:relative;
                &:hover { text-decoration:underline; }
                &.current { background:#d52c1f; color:white; }
            }
        }
    }
    #main {
        .subnavi { float:left; width:20%;
            a { display:block; padding:7px 10px; font-size:15px; line-height:20px; text-decoration:none; @include overline(#d52c1f, 0);
                &:first-child { border-top:none; }
                &:hover { text-decoration:underline; }
                &.current { color:#d52c1f; }
            }
            > a {
                &:first-child {
                    &::before { display:none; }
                }
            }
            > div {
                > a {
                    padding-left:20px;
                }
                div {
                    > a {
                        padding-left:40px;
                    }
                }
            }
        }
        .content { float:left; width:60%; padding:20px 0 40px 20px; }
        > aside { float:left; width:20%; min-height:500px; }
    }
    footer { padding:20px 17px; @include overline(black); }
}
