/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/demo2.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 10, ../sass/demo2.scss */
body {
  font-family: Arial;
  color: white;
  font-size: 25px;
}

/* line 12, ../sass/demo2.scss */
.stageFrame {
  margin: 100px auto 0;
  width: 800px;
  height: 600px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  position: relative;
}
/* line 13, ../sass/demo2.scss */
.stageFrame .stage {
  width: 800px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-origin: 400px 0 -400px;
  -moz-transform-origin: 400px 0 -400px;
  -ms-transform-origin: 400px 0 -400px;
  -o-transform-origin: 400px 0 -400px;
  transform-origin: 400px 0 -400px;
}
/* line 17, ../sass/demo2.scss */
.stageFrame .stage .website0 {
  width: 800px;
  height: 600px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ffff00), color-stop(50%, #008000), color-stop(100%, #ff0000));
  background-image: -webkit-linear-gradient(left top, #ffff00, #008000, #ff0000);
  background-image: -moz-linear-gradient(left top, #ffff00, #008000, #ff0000);
  background-image: -o-linear-gradient(left top, #ffff00, #008000, #ff0000);
  background-image: linear-gradient(left top, #ffff00, #008000, #ff0000);
  padding: 20px;
}
/* line 19, ../sass/demo2.scss */
.stageFrame .stage .website0.website1 {
  -webkit-transform: rotateY(90deg) translate3d(800px, 0px, 0px);
  -moz-transform: rotateY(90deg) translate3d(800px, 0px, 0px);
  -ms-transform: rotateY(90deg) translate3d(800px, 0px, 0px);
  -o-transform: rotateY(90deg) translate3d(800px, 0px, 0px);
  transform: rotateY(90deg) translate3d(800px, 0px, 0px);
  -webkit-transform-origin: right 0 0;
  -moz-transform-origin: right 0 0;
  -ms-transform-origin: right 0 0;
  -o-transform-origin: right 0 0;
  transform-origin: right 0 0;
}
/* line 23, ../sass/demo2.scss */
.stageFrame .anim {
  position: absolute;
  left: 10px;
  top: 10px;
}
/* line 25, ../sass/demo2.scss */
.stageFrame.open .stage {
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
