/* line 3, ../sass/demo4.scss */
#graph {
  position: relative;
  margin: 20px auto 0;
  border: 5px solid black;
  width: 510px;
  height: 510px;
}

/* line 4, ../sass/demo4.scss */
.line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 500px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008000), color-stop(50%, #ffff00), color-stop(100%, #ff0000));
  background-image: -webkit-linear-gradient(top, #008000, #ffff00 50%, #ff0000);
  background-image: -moz-linear-gradient(top, #008000, #ffff00 50%, #ff0000);
  background-image: -o-linear-gradient(top, #008000, #ffff00 50%, #ff0000);
  background-image: linear-gradient(top, #008000, #ffff00 50%, #ff0000);
}
