/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/demo2.scss */
.stageFrame {
  margin: 100px auto 0;
  width: 800px;
  height: 600px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  position: relative;
  color: white;
  font-size: 25px;
}
/* line 9, ../sass/demo2.scss */
.stageFrame .stage {
  width: 800px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-origin: 400px 0 -400px;
  -moz-transform-origin: 400px 0 -400px;
  -ms-transform-origin: 400px 0 -400px;
  -o-transform-origin: 400px 0 -400px;
  transform-origin: 400px 0 -400px;
}
/* line 13, ../sass/demo2.scss */
.stageFrame .stage .website0 {
  width: 800px;
  height: 600px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ffff00), color-stop(50%, #008000), color-stop(100%, #ff0000));
  background-image: -webkit-linear-gradient(left top, #ffff00, #008000, #ff0000);
  background-image: -moz-linear-gradient(left top, #ffff00, #008000, #ff0000);
  background-image: -o-linear-gradient(left top, #ffff00, #008000, #ff0000);
  background-image: linear-gradient(left top, #ffff00, #008000, #ff0000);
  padding: 20px;
}
/* line 15, ../sass/demo2.scss */
.stageFrame .stage .website0.website1 {
  -webkit-transform: rotateY(90deg) translate3d(800px, 0px, 0px);
  -moz-transform: rotateY(90deg) translate3d(800px, 0px, 0px);
  -ms-transform: rotateY(90deg) translate3d(800px, 0px, 0px);
  -o-transform: rotateY(90deg) translate3d(800px, 0px, 0px);
  transform: rotateY(90deg) translate3d(800px, 0px, 0px);
  -webkit-transform-origin: right 0 0;
  -moz-transform-origin: right 0 0;
  -ms-transform-origin: right 0 0;
  -o-transform-origin: right 0 0;
  transform-origin: right 0 0;
}
/* line 19, ../sass/demo2.scss */
.stageFrame .anim {
  position: absolute;
  left: 10px;
  top: 10px;
}
/* line 21, ../sass/demo2.scss */
.stageFrame.open .stage {
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
