/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 11, ../sass/demo1.scss */
.anim {
  position: absolute;
  top: 200px;
  font-size: 50px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  outline: none;
}

/* line 12, ../sass/demo1.scss */
.frame {
  float: left;
  width: 100px;
  height: 500px;
  position: relative;
}
/* line 13, ../sass/demo1.scss */
.frame.frameLeft {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffff00), color-stop(50%, #008000), color-stop(100%, #ff0000));
  background-image: -webkit-linear-gradient(left, #ffff00, #008000, #ff0000);
  background-image: -moz-linear-gradient(left, #ffff00, #008000, #ff0000);
  background-image: -o-linear-gradient(left, #ffff00, #008000, #ff0000);
  background-image: linear-gradient(left, #ffff00, #008000, #ff0000);
}
/* line 14, ../sass/demo1.scss */
.frame.frameLeft .anim {
  right: 0;
}
/* line 16, ../sass/demo1.scss */
.frame.frameRight {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ff0000), color-stop(50%, #008000), color-stop(100%, #ffff00));
  background-image: -webkit-linear-gradient(left, #ff0000, #008000, #ffff00);
  background-image: -moz-linear-gradient(left, #ff0000, #008000, #ffff00);
  background-image: -o-linear-gradient(left, #ff0000, #008000, #ffff00);
  background-image: linear-gradient(left, #ff0000, #008000, #ffff00);
}
/* line 17, ../sass/demo1.scss */
.frame.frameRight .anim {
  left: 0;
}

/* line 20, ../sass/demo1.scss */
.stageFrame {
  float: left;
  width: 0;
  height: 500px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 1s cubic-bezier(0, 0.99, 0.99, 0.99);
  -moz-transition: all 1s cubic-bezier(0, 0.99, 0.99, 0.99);
  -o-transition: all 1s cubic-bezier(0, 0.99, 0.99, 0.99);
  transition: all 1s cubic-bezier(0, 0.99, 0.99, 0.99);
}
/* line 21, ../sass/demo1.scss */
.stageFrame .stage {
  width: 300px;
  height: 500px;
  position: absolute;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin: 0 auto;
  left: -150px;
  -webkit-transition: all 1s cubic-bezier(0, 0.99, 0.99, 0.99);
  -moz-transition: all 1s cubic-bezier(0, 0.99, 0.99, 0.99);
  -o-transition: all 1s cubic-bezier(0, 0.99, 0.99, 0.99);
  transition: all 1s cubic-bezier(0, 0.99, 0.99, 0.99);
}
/* line 22, ../sass/demo1.scss */
.stageFrame .stage .col {
  width: 150px;
  height: 500px;
  background: grey;
  position: absolute;
  top: 0;
  padding: 20px;
  -webkit-transition: all 1s cubic-bezier(0, 0.99, 0.99, 0.99);
  -moz-transition: all 1s cubic-bezier(0, 0.99, 0.99, 0.99);
  -o-transition: all 1s cubic-bezier(0, 0.99, 0.99, 0.99);
  transition: all 1s cubic-bezier(0, 0.99, 0.99, 0.99);
  color: white;
  overflow: hidden;
}
/* line 23, ../sass/demo1.scss */
.stageFrame .stage .col .anim {
  top: 400px;
}
/* line 24, ../sass/demo1.scss */
.stageFrame .stage .col.col1 {
  left: 0;
  -webkit-transform: rotateY(90deg) translate3d(150px, 0, 0);
  -moz-transform: rotateY(90deg) translate3d(150px, 0, 0);
  -ms-transform: rotateY(90deg) translate3d(150px, 0, 0);
  -o-transform: rotateY(90deg) translate3d(150px, 0, 0);
  transform: rotateY(90deg) translate3d(150px, 0, 0);
  -webkit-transform-origin: right 0 0;
  -moz-transform-origin: right 0 0;
  -ms-transform-origin: right 0 0;
  -o-transform-origin: right 0 0;
  transform-origin: right 0 0;
}
/* line 25, ../sass/demo1.scss */
.stageFrame .stage .col.col1 .anim {
  right: -20px;
}
/* line 27, ../sass/demo1.scss */
.stageFrame .stage .col.col2 {
  left: 50%;
  -webkit-transform: rotateY(-90deg) translate3d(-150px, 0, 0);
  -moz-transform: rotateY(-90deg) translate3d(-150px, 0, 0);
  -ms-transform: rotateY(-90deg) translate3d(-150px, 0, 0);
  -o-transform: rotateY(-90deg) translate3d(-150px, 0, 0);
  transform: rotateY(-90deg) translate3d(-150px, 0, 0);
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  -o-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
}
/* line 28, ../sass/demo1.scss */
.stageFrame .stage .col.col2 .anim {
  left: -20px;
}
/* line 32, ../sass/demo1.scss */
.stageFrame.open {
  width: 300px;
}
/* line 33, ../sass/demo1.scss */
.stageFrame.open .stage {
  left: 0;
}
/* line 35, ../sass/demo1.scss */
.stageFrame.open .stage .col.col1 {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
/* line 36, ../sass/demo1.scss */
.stageFrame.open .stage .col.col2 {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
