/* line 13, ../sass/mymDummy.scss */
body {
  margin: 0;
}

/* line 15, ../sass/mymDummy.scss */
.q3, .q1 {
  display: none;
}

/* line 16, ../sass/mymDummy.scss */
.q3 {
  display: block;
}

@media all and (max-width: 320px) {
  /* line 19, ../sass/mymDummy.scss */
  .q3 {
    display: none;
  }

  /* line 20, ../sass/mymDummy.scss */
  .q1 {
    display: block;
  }
}
/* line 23, ../sass/mymDummy.scss */
#inputFake {
  position: absolute;
  left: 12px;
  top: 362px;
  border: 1px solid #d1d1d1;
  border-radius: 1px;
  height: 34px;
  width: 264px;
  padding: 1px 15px;
}
/* line 24, ../sass/mymDummy.scss */
#inputFake:focus {
  border-color: #00adef;
  outline: none;
}
