/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen2.scss */
.stageFrame {
  margin: 100px auto 0;
  width: 800px;
  height: 600px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  position: relative;
}
/* line 10, ../sass/screen2.scss */
.stageFrame .stage {
  width: 800px;
  -webkit-transform: rotateY(0deg) translate3d(0, 0, 0);
  -moz-transform: rotateY(0deg) translate3d(0, 0, 0);
  -ms-transform: rotateY(0deg) translate3d(0, 0, 0);
  -o-transform: rotateY(0deg) translate3d(0, 0, 0);
  transform: rotateY(0deg) translate3d(0, 0, 0);
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  -o-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(45deg);
  -moz-transform: rotateY(45deg);
  -ms-transform: rotateY(45deg);
  -o-transform: rotateY(45deg);
  transform: rotateY(45deg);
  -webkit-transform-origin: 400px 0 -400px;
  -moz-transform-origin: 400px 0 -400px;
  -ms-transform-origin: 400px 0 -400px;
  -o-transform-origin: 400px 0 -400px;
  transform-origin: 400px 0 -400px;
}
/* line 12, ../sass/screen2.scss */
.stageFrame .stage .website {
  width: 800px;
  height: 600px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 13, ../sass/screen2.scss */
.stageFrame .stage .website.website1 {
  border: 2px solid green;
  -webkit-transform: rotateY(90deg) translate3d(800px, 0px, 0px);
  -moz-transform: rotateY(90deg) translate3d(800px, 0px, 0px);
  -ms-transform: rotateY(90deg) translate3d(800px, 0px, 0px);
  -o-transform: rotateY(90deg) translate3d(800px, 0px, 0px);
  transform: rotateY(90deg) translate3d(800px, 0px, 0px);
  -webkit-transform-origin: right 0 0;
  -moz-transform-origin: right 0 0;
  -ms-transform-origin: right 0 0;
  -o-transform-origin: right 0 0;
  transform-origin: right 0 0;
}
/* line 14, ../sass/screen2.scss */
.stageFrame .stage .website.website2 {
  border: 2px solid blue;
}
/* line 17, ../sass/screen2.scss */
.stageFrame .anim {
  position: absolute;
  left: 0;
  bottom: 0;
}
