/* line 17, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 74, global/*.png */
.global-sprite, .global-color666, .global-logo-light, .global-logo, .global-logoOrig, .global-nav_btn {
  background: url('/assets/images/global-s14e06e63cd.png') no-repeat;
}

/* line 60, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.global-color666 {
  background-position: 0 -208px;
}

/* line 60, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.global-logo-light {
  background-position: 0 -192px;
}

/* line 60, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.global-logo {
  background-position: 0 -96px;
}

/* line 60, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.global-logoOrig {
  background-position: 0 0;
}

/* line 60, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.global-nav_btn {
  background-position: 0 -209px;
}

@font-face {
  font-family: "Neue Helvetica";
  src: url('/assets/stylesheets/fonts/0b3a3fca-0fad-402b-bd38-fdcbad1ef776.eot') format('embedded-opentype'), url('/assets/stylesheets/fonts/d5af76d8-a90b-4527-b3a3-182207cc3250.woff') format('woff'), url('/assets/stylesheets/fonts/1d238354-d156-4dde-89ea-4770ef04b9f9.ttf') format('truetype'), url('/assets/stylesheets/fonts/b68875cb-14a9-472e-8177-0247605124d7.svg#b68875cb-14a9-472e-8177-0247605124d7') format('svg');
}

@font-face {
  font-family: "Neue Helvetica Bold";
  src: url('/assets/stylesheets/fonts/db853e0e-929b-4272-b420-c946c954cf3a.eot') format('embedded-opentype'), url('/assets/stylesheets/fonts/4a9c62ab-b359-4081-8383-a0d1cdebd111.woff') format('woff'), url('/assets/stylesheets/fonts/db5f9ba6-05a4-433a-9461-0a6f257a0c3a.ttf') format('truetype'), url('/assets/stylesheets/fonts/25e09910-ffc3-4fc4-b0d1-db9a95dface8.svg#25e09910-ffc3-4fc4-b0d1-db9a95dface8') format('svg');
}

@font-face {
  font-family: "Neue Helvetica Condensed";
  src: url('/assets/stylesheets/fonts/5afb945e-e2c1-4a0e-aa10-07c774467403.eot') format('embedded-opentype'), url('/assets/stylesheets/fonts/b28cd111-4e51-40c4-8ab7-f20722f5aee1.woff') format('woff'), url('/assets/stylesheets/fonts/90675842-aa22-4c92-8d33-5b9adb155a84.ttf') format('truetype'), url('/assets/stylesheets/fonts/50295452-0109-4587-9fbd-703f8074deba.svg#50295452-0109-4587-9fbd-703f8074deba') format('svg');
}

/* line 26, ../sass/screen.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 27, ../sass/screen.scss */
body {
  font-family: "Neue Helvetica", Arial;
  font-size: 13px;
  line-height: 16px;
  color: #444444;
}

/* line 28, ../sass/screen.scss */
h1, h2 {
  font-family: "Neue Helvetica Bold";
  font-size: 20px;
  line-height: 25px;
  margin: 10px 0 40px;
}

/* line 29, ../sass/screen.scss */
h2 {
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0 20px;
}

/* line 31, ../sass/screen.scss */
p, cite {
  margin: 10px 0 20px;
}
/* line 32, ../sass/screen.scss */
p.maxwidth, cite.maxwidth {
  max-width: 500px;
}

/* line 34, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 36, ../sass/screen.scss */
table td, table th {
  padding: 2px 5px;
  border: 1px solid black;
}

/* line 39, ../sass/screen.scss */
a {
  outline: none;
  color: black;
}

/* line 40, ../sass/screen.scss */
cite {
  font-style: italic;
  display: block;
}

/* line 41, ../sass/screen.scss */
.clear {
  clear: both;
  height: 0;
  line-height: 0;
}

/* line 42, ../sass/screen.scss */
.website {
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  position: relative;
}
/* line 43, ../sass/screen.scss */
.website header {
  padding: 27px 0 0 0;
  position: relative;
}
/* line 44, ../sass/screen.scss */
.website header .global-logo-light {
  display: inline-block;
  width: 272px;
  height: 16px;
  margin-left: 10px;
}
/* line 45, ../sass/screen.scss */
.website header .mainnavi {
  position: absolute;
  right: 20px;
  top: 25px;
}
@media all and (max-width: 1199px) {
  /* line 45, ../sass/screen.scss */
  .website header .mainnavi {
    position: static;
    padding: 10px 10px 0;
  }
}
/* line 47, ../sass/screen.scss */
.website header .mainnavi a {
  display: inline-block;
  padding: 0 0 0 16px;
  font-family: "Neue Helvetica Bold";
  font-size: 14px;
  line-height: 18px;
  color: #8aaec2;
  text-decoration: none;
  position: relative;
}
/* line 48, ../sass/screen.scss */
.website header .mainnavi a:first-child {
  padding: 0;
}
/* line 49, ../sass/screen.scss */
.website header .mainnavi a:hover {
  color: #3b718d;
}
/* line 50, ../sass/screen.scss */
.website header .mainnavi a.current {
  color: #444444;
}
/* line 53, ../sass/screen.scss */
.website header #toggleOffCanvas {
  display: none;
}
@media all and (max-width: 1199px) {
  /* line 53, ../sass/screen.scss */
  .website header #toggleOffCanvas {
    display: block;
    width: 40px;
    height: 34px;
    cursor: pointer;
    background: url(../images/global/nav_btn.png) no-repeat center;
  }
}
/* line 61, ../sass/screen.scss */
.website #main {
  position: relative;
}
/* line 62, ../sass/screen.scss */
.website #main .subnavi {
  float: left;
  width: 20%;
  margin-top: 36px;
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;
  background: white;
}
@media all and (max-width: 1199px) {
  /* line 62, ../sass/screen.scss */
  .website #main .subnavi {
    width: 0;
    overflow: hidden;
  }
}
/* line 66, ../sass/screen.scss */
.website #main .subnavi a {
  display: block;
  padding: 7px 10px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  border-top: 1px solid #444444;
}
/* line 68, ../sass/screen.scss */
.website #main .subnavi a:hover {
  text-decoration: underline;
}
/* line 69, ../sass/screen.scss */
.website #main .subnavi a.current {
  color: #d52c1f;
}
/* line 74, ../sass/screen.scss */
.website #main .subnavi > a:first-child::before {
  display: none;
}
/* line 78, ../sass/screen.scss */
.website #main .subnavi > div > a {
  padding-left: 20px;
}
/* line 82, ../sass/screen.scss */
.website #main .subnavi > div div > a {
  padding-left: 40px;
}
/* line 88, ../sass/screen.scss */
.website #main .content {
  float: left;
  width: 80%;
  padding: 20px 20px 40px 20px;
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;
}
@media all and (max-width: 1199px) {
  /* line 88, ../sass/screen.scss */
  .website #main .content {
    width: 100%;
  }
}
/* line 94, ../sass/screen.scss */
.website #main .content ul li:before {
  content: "- ";
}
/* line 98, ../sass/screen.scss */
.website #main > aside {
  float: left;
  width: 20%;
  min-height: 500px;
  display: none;
}
/* line 100, ../sass/screen.scss */
.website #main.offCanvas .subnavi {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  margin-top: 0;
}
/* line 104, ../sass/screen.scss */
.website footer {
  background: #444444;
  padding: 10px 13px;
  color: white;
}
/* line 105, ../sass/screen.scss */
.website footer a {
  color: white;
}

/* line 109, ../sass/screen.scss */
.floatLeft {
  float: left;
  margin-right: 20px;
  background: white;
  margin-bottom: 20px;
}
/* line 110, ../sass/screen.scss */
.floatLeft .thumbs {
  margin-right: -20px;
}
/* line 111, ../sass/screen.scss */
.floatLeft .thumbs a {
  float: left;
  margin: 20px 20px 0 0;
}

/* line 114, ../sass/screen.scss */
.christbox {
  margin-bottom: 20px;
  position: relative;
}
/* line 115, ../sass/screen.scss */
.christbox .magnifier {
  background: url(../images/magnifier.svg) center no-repeat;
  background-size: contain;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 32px;
  height: 32px;
}
/* line 116, ../sass/screen.scss */
.christbox:hover .magnifier {
  width: 52px;
  height: 52px;
  right: 10px;
  bottom: 10px;
}

/* line 118, ../sass/screen.scss */
.christboxLayer {
  background: black;
  text-align: center;
  position: relative;
}
/* line 119, ../sass/screen.scss */
.christboxLayer img {
  max-width: 100%;
  max-height: 100%;
}
/* line 120, ../sass/screen.scss */
.christboxLayer .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 100px;
  line-height: 100px;
  color: white;
  cursor: pointer;
  z-index: 1;
}
/* line 121, ../sass/screen.scss */
.christboxLayer .browseLeft, .christboxLayer .browseRight {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  font-size: 100px;
  line-height: 100px;
  color: white;
  cursor: pointer;
}
/* line 122, ../sass/screen.scss */
.christboxLayer .browseLeft:before, .christboxLayer .browseRight:before {
  position: absolute;
  top: 50%;
  margin-top: -50px;
}
/* line 124, ../sass/screen.scss */
.christboxLayer .browseLeft {
  left: 0;
}
/* line 125, ../sass/screen.scss */
.christboxLayer .browseLeft:before {
  content: "<";
  left: 5%;
}
/* line 127, ../sass/screen.scss */
.christboxLayer .browseRight {
  right: 0;
}
/* line 128, ../sass/screen.scss */
.christboxLayer .browseRight:before {
  content: ">";
  right: 5%;
}
/* line 130, ../sass/screen.scss */
.christboxLayer .index {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 100px;
  line-height: 100px;
  color: white;
}

/*
@-webkit-keyframes bganim1 {
  0%   { -webkit-transform:translate(0, 0); transform:translate(0, 0); }
  100% { -webkit-transform:translate(10px, 20px); transform:translate(10px, 20px); }
}
@-webkit-keyframes bganim2 {
  0%   { -webkit-transform:translate(0, 0); }
  100% { -webkit-transform:translate(-10px, -20px); }
}
@-webkit-keyframes bganim3 {
  0%   { -webkit-transform:translate(0, 0); }
  100% { -webkit-transform:translate(-10px, 20px); }
}

@mixin shake($anim) {
    -webkit-animation-name: $anim;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    
    animation-name: $anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
*/
/* line 2, ../sass/_talkingtime.scss */
.talkingtime .start, .talkingtime .stop, .talkingtime .pause {
  border: #444444 3px solid;
  padding: 10px;
  float: left;
  width: 95%;
  margin: 0 5% 10px 0;
}
/* line 3, ../sass/_talkingtime.scss */
.talkingtime .start .time, .talkingtime .stop .time, .talkingtime .pause .time {
  float: right;
}
/* line 5, ../sass/_talkingtime.scss */
.talkingtime .stop, .talkingtime .pause {
  display: none;
}
/* line 6, ../sass/_talkingtime.scss */
.talkingtime .newTalker {
  float: left;
  width: 100%;
}
/* line 7, ../sass/_talkingtime.scss */
.talkingtime .newTalker input[type="text"] {
  border: #8aaec2 3px solid;
  padding: 10px;
  margin: 0;
  width: 80%;
}
/* line 8, ../sass/_talkingtime.scss */
.talkingtime .newTalker div {
  border: #8aaec2 3px solid;
  padding: 10px;
  margin-left: 5px;
  display: inline-block;
}
/* line 9, ../sass/_talkingtime.scss */
.talkingtime .newTalker input[type="checkbox"] {
  clear: left;
  margin-top: 20px;
  position: relative;
  top: 2px;
}
/* line 10, ../sass/_talkingtime.scss */
.talkingtime .newTalker label {
  margin-left: 10px;
}
/* line 12, ../sass/_talkingtime.scss */
.talkingtime .talker {
  border: #444444 3px solid;
  padding: 10px;
  float: left;
  width: 95%;
  margin: 10px 5% 0 0;
  position: relative;
}
/* line 13, ../sass/_talkingtime.scss */
.talkingtime .talker .time {
  float: right;
}
/* line 14, ../sass/_talkingtime.scss */
.talkingtime .talker .chart {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 36px;
  background: rgba(255, 0, 0, 0.2);
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}
