/* line 17, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 42, global/*.png */
.global-sprite, .global-logo {
  background: url('/assets/images/global-sa697d453ce.png') no-repeat;
}

/* line 60, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.global-logo {
  background-position: 0 0;
}

/*
@-webkit-keyframes bganim1 {
  0%   { -webkit-transform:translate(0, 0); transform:translate(0, 0); }
  100% { -webkit-transform:translate(10px, 20px); transform:translate(10px, 20px); }
}
@-webkit-keyframes bganim2 {
  0%   { -webkit-transform:translate(0, 0); }
  100% { -webkit-transform:translate(-10px, -20px); }
}
@-webkit-keyframes bganim3 {
  0%   { -webkit-transform:translate(0, 0); }
  100% { -webkit-transform:translate(-10px, 20px); }
}

@mixin shake($anim) {
    -webkit-animation-name: $anim;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    
    animation-name: $anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
*/
/* line 44, ../sass/screen.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 45, ../sass/screen.scss */
body {
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(50%, #000000), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, #ffffff, #000000 50%, #ffffff);
  background-image: -moz-linear-gradient(left, #ffffff, #000000 50%, #ffffff);
  background-image: -o-linear-gradient(left, #ffffff, #000000 50%, #ffffff);
  background-image: linear-gradient(left, #ffffff, #000000 50%, #ffffff);
}

/* line 46, ../sass/screen.scss */
h1 {
  font-size: 20px;
  line-height: 25px;
  margin: 10px 0 40px;
  font-weight: bold;
  position: relative;
}
/* line 37, ../sass/screen.scss */
h1:after {
  content: " ";
  height: 1px;
  background: black;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg);
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
}

/* line 47, ../sass/screen.scss */
p {
  margin: 10px 0 20px;
}

/* line 48, ../sass/screen.scss */
a {
  outline: none;
  color: black;
}

/* line 49, ../sass/screen.scss */
.floatLeft {
  float: left;
  margin-right: 20px;
}

/* line 50, ../sass/screen.scss */
.clear {
  clear: both;
  height: 0;
  line-height: 0;
}

/* line 51, ../sass/screen.scss */
.website {
  width: 1000px;
  margin: 40px auto;
  background: white;
  position: relative;
}
/* line 52, ../sass/screen.scss */
.website:before {
  content: " ";
  position: absolute;
  left: 0;
  top: -10px;
  height: 20px;
  width: 100%;
  background: white;
  -webkit-transform: skew(0, -1deg);
  -moz-transform: skew(0, -1deg);
  -ms-transform: skew(0, -1deg);
  -o-transform: skew(0, -1deg);
  transform: skew(0, -1deg);
}
/* line 53, ../sass/screen.scss */
.website:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 20px;
  width: 100%;
  background: white;
  -webkit-transform: skew(0, -1deg);
  -moz-transform: skew(0, -1deg);
  -ms-transform: skew(0, -1deg);
  -o-transform: skew(0, -1deg);
  transform: skew(0, -1deg);
}
/* line 54, ../sass/screen.scss */
.website header {
  padding: 20px;
  position: relative;
}
/* line 55, ../sass/screen.scss */
.website header .global-logo {
  display: inline-block;
  width: 348px;
  height: 96px;
}
/* line 37, ../sass/screen.scss */
.website header:after {
  content: " ";
  height: 1px;
  background: black;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg);
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
}
/* line 57, ../sass/screen.scss */
.website header .mainnavi {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
/* line 58, ../sass/screen.scss */
.website header .mainnavi a {
  display: inline-block;
  padding: 7px 10px;
  font-size: 20px;
  text-decoration: none;
  position: relative;
}
/* line 59, ../sass/screen.scss */
.website header .mainnavi a:hover {
  text-decoration: underline;
}
/* line 60, ../sass/screen.scss */
.website header .mainnavi a.current {
  background: #d52c1f;
  color: white;
}
/* line 65, ../sass/screen.scss */
.website #main .subnavi {
  float: left;
  width: 20%;
}
/* line 66, ../sass/screen.scss */
.website #main .subnavi a {
  display: block;
  padding: 7px 10px;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  position: relative;
}
/* line 41, ../sass/screen.scss */
.website #main .subnavi a:before {
  content: " ";
  height: 1px;
  background: #d52c1f;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
/* line 67, ../sass/screen.scss */
.website #main .subnavi a:first-child {
  border-top: none;
}
/* line 68, ../sass/screen.scss */
.website #main .subnavi a:hover {
  text-decoration: underline;
}
/* line 69, ../sass/screen.scss */
.website #main .subnavi a.current {
  color: #d52c1f;
}
/* line 73, ../sass/screen.scss */
.website #main .subnavi > a:first-child::before {
  display: none;
}
/* line 77, ../sass/screen.scss */
.website #main .subnavi > div > a {
  padding-left: 20px;
}
/* line 81, ../sass/screen.scss */
.website #main .subnavi > div div > a {
  padding-left: 40px;
}
/* line 87, ../sass/screen.scss */
.website #main .content {
  float: left;
  width: 60%;
  padding: 20px 0 40px 20px;
}
/* line 88, ../sass/screen.scss */
.website #main > aside {
  float: left;
  width: 20%;
  min-height: 500px;
}
/* line 90, ../sass/screen.scss */
.website footer {
  padding: 20px 17px;
  position: relative;
}
/* line 41, ../sass/screen.scss */
.website footer:before {
  content: " ";
  height: 1px;
  background: black;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

/* line 93, ../sass/screen.scss */
.christboxLayer {
  background: black;
  text-align: center;
  position: relative;
}
/* line 94, ../sass/screen.scss */
.christboxLayer img {
  max-width: 100%;
  max-height: 100%;
}
/* line 95, ../sass/screen.scss */
.christboxLayer .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 100px;
  line-height: 100px;
  color: white;
  cursor: pointer;
}
